<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<ul>
    <li>Some of the popular languages that Data Scientists</li>
    <li>Some of the commonly used libraries used by Data Scientists include</li>
    <li>a simple arithmetic expression to mutiply then add integers</li>
    <li>conversion of 200 minutes to hours by diving by 60</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>SQL</li>
    <li>R</li>
    <li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>TensorFlow</li>
    <li>NumPy</li>
    <li>SciPy</li>
    <li>Pandas</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Apache Spark</td>
    </tr>
    <tr>
        <td>Apache Hadoop</td>
    </tr>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

min = 200
print("Hours : "+str(min/60))

Hours : 3.3333333333333335